version: '0.0.1'

services:
  alert_server:
    image: registry.yamong.dev/alert_server:main
    build:
      context: .
      dockerfile: dockerfile
    container_name: alert_server
    environment:
      - KAFKA_BROKERS=${KAFKA_BROKERS}
      - DISCORD_WEBHOOK_URL=${DISCORD_WEBHOOK_URL}
      - LOG_DIR=${LOG_DIR}
      - POSTGRES_HOST=${POSTGRES_HOST}
      - POSTGRES_PORT=${POSTGRES_PORT}
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - KAFKA_CONSUMER_TIMEOUT_MS=${KAFKA_CONSUMER_TIMEOUT_MS}
      - KAFKA_CONSUMER_MAX_RECORDS=${KAFKA_CONSUMER_MAX_RECORDS}
    volumes:
      - ./log:/var/log/alert
    restart: always
    networks:
      - yamong_network

networks:
  yamong_network:
    external: true